<navbar-layout-basic></navbar-layout-basic>
<ng-container>
  <nz-table #basicTable [nzData]="donor">
    <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.userId }}</td>
      <td>{{ data.fullName }}</td>
      <td>{{ data.address }}</td>
      <td>
        {{ data.bloodType }}
        <a>Delete</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</ng-container>
