<meta name="viewport" content="width=device-width, initial-scale=1.0">
<navbar-layout-basic></navbar-layout-basic>
<nz-content>
  <img nz-image nzSrc="..\assets\landing-image.png" class="image1" alt="image"/>

  <div class="card-component">
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="8" [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" style="margin-bottom: 24px">
        <a>
        <nz-card nzTitle="What is the Blood Donor Eligibility Criteria?">
          <p>Check out our page for more information on blood donor eligibility criteria and become a lifesaver today!</p>
        </nz-card>
        </a>
      </div>
      <div nz-col [nzSpan]="8" [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" style="margin-bottom: 24px">
        <nz-card nzTitle="What is the benefits of Blood Donation?">
          <p>Donate blood, be a hero, save lives, reduce disease risk, and get a free health check-up!</p>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="8" [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" style="margin-bottom: 24px">
        <nz-card nzTitle="Where should I donate blood?">
          <p>Check online for blood donation centers near you and schedule an appointment to make a difference in someone's life today!</p>
        </nz-card>
      </div>
    </div>
  </div>
</nz-content>

<nz-footer>Footer</nz-footer>
