.image1{
  width: 100%;
  /*margin-top: 64px;*/
}

p {
  margin: 0;
}

.card-component{
  text-align: center;
  width: 100%;
  background: #fff0f0;
  padding:30px;
}

.ant-card-head-title {
  display: inline-block;
  flex: 1;
  padding: 16px 0;
  white-space: break-spaces;
}

.event{
  padding: 32px 0;
  background: #fff0f0;
}

.content{
  display: flex;
  justify-content: center;
}

.c2{
  text-align: justify;
  margin-bottom: 24px
}

.event .content nz-list-item a:hover nz-card {
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

nz-footer{
  background-color: #de2626;
  color: white;
  text-align: center;
}
