<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<navbar-layout-basic></navbar-layout-basic>
<donor-sidebar>
  <h3>Registration Form</h3>
  <div *ngIf="currentPage === 1">
    <form nz-form class="form" [formGroup]="regForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="name" [nzRequired]="true" [nzLabelAlign]="'left'">Full Name</nz-form-label>
        <nz-form-control [nzSpan]="15" [nzErrorTip]="confirmErrorTip">
          <input nz-input formControlName="name"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="ic" [nzRequired]="true" [nzLabelAlign]="'left'">IC No.</nz-form-label>
        <nz-form-control [nzSpan]="10" [nzErrorTip]="confirmErrorTip">
          <input nz-input formControlName="ic"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="dob" [nzRequired]="true" [nzLabelAlign]="'left'">Date of Birth
        </nz-form-label>
        <nz-form-control [nzErrorTip]="confirmErrorTip">
          <nz-date-picker [nzDisabledDate]="isDisabledDate" formControlName="dob"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="age" [nzRequired]="true" [nzLabelAlign]="'left'">Age</nz-form-label>
        <nz-form-control [nzErrorTip]="confirmErrorTip">
          <nz-input-number formControlName="age" [nzStep]="1"></nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="ethnic" [nzRequired]="true" [nzLabelAlign]="'left'">Ethnicity</nz-form-label>
        <nz-form-control [nzErrorTip]="confirmErrorTip">
          <nz-input-number formControlName="ethnic" [nzStep]="1"></nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="maritial" [nzRequired]="true" [nzLabelAlign]="'left'">Maritial Status
        </nz-form-label>
        <nz-form-control [nzErrorTip]="confirmErrorTip">
          <input nz-input formControlName="maritial"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="occupation" [nzRequired]="true" [nzLabelAlign]="'left'">Occupation
        </nz-form-label>
        <nz-form-control [nzErrorTip]="confirmErrorTip">
          <input nz-input formControlName="occupation"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="homeTel" [nzRequired]="true" [nzLabelAlign]="'left'">Home Tel No.
        </nz-form-label>
        <nz-form-control [nzErrorTip]="confirmErrorTip">
          <input nz-input formControlName="homeTel"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="hpTel" [nzRequired]="true" [nzLabelAlign]="'left'">H/P Tel No.
        </nz-form-label>
        <nz-form-control [nzErrorTip]="confirmErrorTip">
          <input nz-input formControlName="hpTel"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="currentAd" [nzRequired]="true" [nzLabelAlign]="'left'">Current Home Address
        </nz-form-label>
        <nz-form-control [nzErrorTip]="confirmErrorTip">
          <input nz-input formControlName="currentAd"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="state" [nzRequired]="true" [nzLabelAlign]="'left'">State</nz-form-label>
        <nz-form-control [nzErrorTip]="confirmErrorTip">
          <input nz-input formControlName="state"/>
        </nz-form-control>
        <nz-form-label [nzSpan]="5" nzFor="postcode" [nzRequired]="true" [nzLabelAlign]="'left'"
                       style="margin-left: 12px">Postcode
        </nz-form-label>
        <nz-form-control [nzSpan]="6" [nzErrorTip]="confirmErrorTip">
          <input nz-input formControlName="postcode"/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item [nzJustify]="'end'">
        <button nz-button type="submit" nzSize="large" nzType="dashed">
          Next
        </button>
      </nz-form-item>
    </form>
  </div>

  <div *ngIf="currentPage === 2 ">
    <div>
      <img src="/assets/reg-form.jpg" alt="attention" width="80%" height="80%" style="margin-left: 10vh">
    </div>
    <nz-divider></nz-divider>

    <div>
      <h4>BLOOD DONOR ELIGIBILITY QUESTIONNAIRES</h4>
      <nz-card class="card">
        <b> 'Any blood donor who is found to make false declaration pertaining to his or her high risk lifestyle
          behaviours will be prosecuted in Court under the existing laws' </b>
      </nz-card>
      <nz-alert
        nzType="info"
        nzDescription="Before you proceed with the questionnaires, please read and understand the statement on the front page.
         Answer the following questions by ticking √ in the appropriate boxes."
        nzShowIcon
      ></nz-alert>
    </div>
  </div>
  <div *ngIf="currentPage === 3 ">
    <div style="width: 90%; margin: auto;">
      <form nz-form class="form" [formGroup]="questionnaires" (ngSubmit)="show()">
        <div nz-row>
          <div nz-col nzSpan="2">1.</div>
          <div nz-col nzSpan="18">{{ messageConstant.QUESTION1 }}</div>
          <div nz-col nzSpan="2" style="margin: auto"><label nz-checkbox formControlName="q1"></label></div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="2">2.</div>
          <div nz-col nzSpan="18">{{ messageConstant.QUESTION2 }}</div>
          <div nz-col nzSpan="2" style="margin: auto"><label nz-checkbox formControlName="q2"></label></div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="2">3.</div>
          <div nz-col nzSpan="18">{{ messageConstant.QUESTION3 }}</div>
          <div nz-col nzSpan="2" style="margin: auto"><label nz-checkbox formControlName="q3"></label></div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="3"></div>
          <div nz-col nzSpan="17">{{ messageConstant.QUESTION3A }}</div>
          <div nz-col nzSpan="2" style="margin: auto"><label nz-checkbox formControlName="q3a"></label></div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="4"></div>
          <div nz-col nzSpan="9">{{ messageConstant.OTHERS }}</div>
          <div nz-col nzSpan="6" style="margin: auto"><input nz-input formControlName="q3a1" [nzSize]="'small'"/></div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="2">4.</div>
          <div nz-col nzSpan="18">{{ messageConstant.QUESTION4 }}</div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="3">a)</div>
          <div nz-col nzSpan="17">{{ messageConstant.QUESTION4A }}</div>
          <div nz-col nzSpan="2" style="margin: auto"><label nz-checkbox formControlName="q3a"></label></div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="4"></div>
          <div nz-col nzSpan="9">{{ messageConstant.OTHERS }}</div>
          <div nz-col nzSpan="6" style="margin: auto"><input nz-input formControlName="q4a1" [nzSize]="'small'"/></div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="3">b)</div>
          <div nz-col nzSpan="17">{{ messageConstant.QUESTION4B }}</div>
          <div nz-col nzSpan="2" style="margin: auto"><label nz-checkbox formControlName="q3a"></label></div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="3">c)</div>
          <div nz-col nzSpan="17">{{ messageConstant.QUESTION4C }}</div>
          <div nz-col nzSpan="2" style="margin: auto"><label nz-checkbox formControlName="q3a"></label></div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="3">d)</div>
          <div nz-col nzSpan="17">{{ messageConstant.QUESTION4D }}</div>
          <div nz-col nzSpan="2" style="margin: auto"><label nz-checkbox formControlName="q3a"></label></div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="4"></div>
          <div nz-col nzSpan="9">{{ messageConstant.OTHERS }}</div>
          <div nz-col nzSpan="6" style="margin: auto"><input nz-input formControlName="q4a1" [nzSize]="'small'"/></div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="2">5.</div>
          <div nz-col nzSpan="18">{{ messageConstant.QUESTION5 }}</div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="2">6.</div>
          <div nz-col nzSpan="18">{{ messageConstant.QUESTION6 }}</div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="3"></div>
          <div nz-col nzSpan="11">{{ messageConstant.QUESTION6A }}</div>
          <div nz-col nzSpan="5" style="margin: auto"><input nz-input formControlName="q4a1" [nzSize]="'small'"/></div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="2">7.</div>
          <div nz-col nzSpan="18">{{ messageConstant.QUESTION7 }}</div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="3">a)</div>
          <div nz-col nzSpan="17">{{ messageConstant.QUESTION7A }}</div>
          <div nz-col nzSpan="2" style="margin: auto"><label nz-checkbox formControlName="q3a"></label></div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="3">b)</div>
          <div nz-col nzSpan="17">{{ messageConstant.QUESTION7B }}</div>
          <div nz-col nzSpan="2" style="margin: auto"><label nz-checkbox formControlName="q3a"></label></div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="3">c)</div>
          <div nz-col nzSpan="17">{{ messageConstant.QUESTION7C }}</div>
          <div nz-col nzSpan="2" style="margin: auto"><label nz-checkbox formControlName="q3a"></label></div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="2">8.</div>
          <div nz-col nzSpan="18">{{ messageConstant.QUESTION8 }}</div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="2">9.</div>
          <div nz-col nzSpan="18">{{ messageConstant.QUESTION9 }}</div>
          <div nz-col nzSpan="2" style="margin: auto"><label nz-checkbox formControlName="q3"></label></div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="2">10.</div>
          <div nz-col nzSpan="18">{{ messageConstant.QUESTION10 }}</div>
          <div nz-col nzSpan="2" style="margin: auto"><label nz-checkbox formControlName="q3"></label></div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="2">11.</div>
          <div nz-col nzSpan="18">{{ messageConstant.QUESTION11 }}</div>
          <div nz-col nzSpan="2" style="margin: auto"><label nz-checkbox formControlName="q3"></label></div>
        </div>

        <nz-form-item [nzJustify]="'end'">
          <button nz-button type="submit" nzSize="large" nzType="dashed">
            Submit
          </button>
        </nz-form-item>
      </form>
    </div>
  </div>
  <ng-template #confirmErrorTip let-i>
    <ng-container *ngIf="i.errors?.required">This fill is required</ng-container>
    <ng-container *ngIf="i.errors?.pattern">Wrong format</ng-container>
  </ng-template>
</donor-sidebar>
