.wrapper {
  width: 200px;
}

.whole {
  display: inline-flex;
}

@media screen and (max-width: 767px) {
  .page-content {
    min-width: 368px;
    padding: 32px;
  }

  .wrapper {
    width: 0;
  }

  wrapper.collapsed {
    width: 0;
  }
}

/* Large screen styles */
@media screen and (min-width: 768px) {
  .page-content {
    min-width: 800px;
    padding: 32px;
  }

  .wrapper {
    width: 200px;
  }

  wrapper.collapsed {
    width: 80px;
  }

  ::ng-deep .ant-menu.ant-menu-inline-collapsed {
     width: 0;
  }
}

button {
  margin-bottom: 12px;
}

.menu-btn {
  margin-top: 8px;
  background-color: #de2626;
  color: white;
}

