<div class="whole">
  <div class="wrapper" [ngClass]="{ 'collapsed': isCollapsed && isSmallScreen }">
    <button nz-button nzType="text" class="menu-btn" (click)="toggleCollapsed()">
      <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
    </button>
    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">

      <li
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        [nzTooltipTitle]="isCollapsed ? 'Dashboard' : ''"
        (click)="redirect('home')"
      >
        <span nz-icon nzType="home"></span>
        <span>Dashboard</span>
      </li>

      <li
        nz-submenu
        nzTitle="Profile"
        nzIcon="user">
        <ul>
          <li nz-menu-item (click)="redirect('profile')">View Profile</li>
          <li nz-menu-item (click)="redirect('edit')">Edit Profile</li>
        </ul>
      </li>

      <li
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        [nzTooltipTitle]="isCollapsed ? 'Search Donor' : ''"
        (click)="redirect('search')"
      >
        <span nz-icon nzType="search"></span>
        <span>Search Donor</span>
      </li>

      <li
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        [nzTooltipTitle]="isCollapsed ? 'Insert Record' : ''"
        (click)="redirect('addRecord')"
      >
        <span nz-icon nzType="form"></span>
        <span>Insert Record</span>
      </li>

      <li
        nz-menu-item
        nz-tooltip
        nzTooltipPlacement="right"
        [nzTooltipTitle]="isCollapsed ? 'Upload Activity' : ''"
        (click)="redirect('staffPost')"
      >
        <span nz-icon nzType="upload"></span>
        <span>Upload Activity</span>
      </li>

      <li
        nz-submenu
        nzTitle="Manage"
        nzIcon="select">
        <ul>
          <li nz-menu-item (click)="redirect('app')">Appointment</li>
          <li nz-menu-item (click)="redirect('form')">Registration Form</li>
          <li nz-menu-item (click)="redirect('record')">Donation Record</li>
        </ul>
      </li>

    </ul>
  </div>
  <div class="page-content">
    <ng-content></ng-content> <!-- Render the provided page content here -->
  </div>
</div>
