.wrapper {
  width: 200px;
}

.wrapper.collapsed {
  width: 0;
}

.whole {
  display: inline-flex;
}

.page-content {
  min-width: 80vh;
  padding: 32px;
}

.page-content.small {
  min-width: 20vh;
  padding: 32px;
}
@media screen and (max-width: 767px) {
  .page-content {
    min-width: 20vh;
    padding: 32px;
  }
}

/* Large screen styles */
@media screen and (min-width: 768px) {
  .page-content {
    min-width: 168vh;
    padding: 32px;
  }
}


button {
  margin-bottom: 12px;
}

.menu-btn {
  margin-top: 8px;
  background-color: #de2626;
  color: white;
}

ul {
  background-color: #de2626;
  color: white;
}

li:hover {
  background-color: white;
  color: #de2626;
}

.ant-menu.ant-menu-inline-collapsed {
  width: 0;
}
