.wrapper {
  width: 200px;
}

.wrapper.collapsed {
  width: 0;
}

.whole {
  display: inline-flex;
}

.page-content {
  padding: 32px;
}

button {
  margin-bottom: 12px;
}

.menu-btn {
  margin-top: 8px;
  background-color: #de2626;
  color: white;
}

ul {
  background-color: #de2626;
  color: white;
}

li:hover {
  background-color: white;
  color: #de2626;
}

.ant-menu.ant-menu-inline-collapsed {
  width: 0;
}
