<navbar-layout-basic>
</navbar-layout-basic>
<div class="box">
  <h2>BLOOD DONOR ELIGIBILITY CRITERIA</h2>
  <p>You can donate blood if:-</p>
      <p class="one">1. Well and healthy</p>
      <p class="one">2. Age:</p>
          <p class="two">1. First time donor: 18-60 years old</p>
          <p class="two">2. Regular donor: 18-65 years old</p>
          <p class="two">3. Prospective donor aged 17 years old must provide written consent from his or her parents / guardian</p>
      <p class="one">3. Weight : 45kg and above</p>
      <p class="one">4. Had minimum of 5 hours sleep</p>
      <p class="one">5. Had a meal before blood donation</p>
      <p class="one">6. No medical illness</p>
      <p class="one">7. Not involved in any high risk activities such as :-</p>
          <p class="two">1. Same gender sex (homosexual)</p>
          <p class="two">2. Bisexual</p>
          <p class="two">3. Had sex with commercial sex worker</p>
          <p class="two">4. Change in sexual partner</p>
          <p class="two">5. Took intravenous drug</p>
          <p class="two">6. A sexual partner of any of the above</p>
      <p class="one">8. Last whole blood donation was 3 months ago</p>
      <p class="one">9. For female donors : not pregnant, last menstrual period was more than 3 days ago, and not breastfeeding</p>
      <p class="one">10. Do not donate blood if you had:</p>
          <p class="two">1. Stayed in <b>United Kindom</b> (England, Northern, Ireland, Scotlaand, Wales, Isle of Man atau Channel Island) atau Republik Ireland from <b>year 1980 until 1996</b> for <b>period of 6 months or more.</b></p>
          <p class="two">2. Stayed in Europe from <b>year 1980 until now</b>, for a <b>period of 5 years or more</b>.</p>
</div>

<nz-footer>eDonor - Empowering blood donation for a healthier world.</nz-footer>
