<navbar-layout-basic></navbar-layout-basic>
<nz-layout class="inner-layout">
<!--  <a routerLink="../staffMenu">Donor Info</a>-->
  <h3>Donor Info</h3>
  <nz-table #basicTable [nzData]="donor">
    <thead>
    <tr>
      <th>Name</th>
      <th>IC</th>
      <th>Address</th>
      <th>Blood Type</th>
      <th>Donor Type</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.fullName }}</td>
      <td>{{ data.userId }}</td>
      <td>{{ data.address }}</td>
      <td>{{ data.bloodType }}</td>
      <td>{{ data.donorType }}</td>
    </tr>
    </tbody>
  </nz-table>
</nz-layout>
