<nz-layout class="main-layout">
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzMode="horizontal" class="header-menu">
      <a (click)="navigate('home')">
        <li nz-menu-item>Home</li>
      </a>

      <a nz-dropdown [nzDropdownMenu]="menu" class="drop"> About Blood Donation </a>

      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item (click)="navigate('eligibility')">Blood Donor Eligibility</li>
          <li nz-menu-item (click)="navigate('benefits')">Benefits of Blood Donation</li>
          <li nz-menu-item (click)="navigate('privilege')">Blood Donor Privilege</li>
        </ul>
      </nz-dropdown-menu>

      <a (click)="navigate('campaign')">
        <li nz-menu-item>Campaign/Activity</li>
      </a>

      <a (click)="navigate('list')">
        <li nz-menu-item>Blood Donation Centre</li>
      </a>

      <a *ngIf="loggedIn" (click)="dashboard()">
        <li nz-menu-item>Dashboard</li>
      </a>

      <div *ngIf="loggedIn" class="signIn">
        <div style="display: flex">
          <span style="margin-right: 2vh; color: white">Welcome, {{ role }}</span>
          <li nz-submenu nzIcon="user" nzPlacement="bottomRight">
            <ul>
              <a (click)="logout()" style="color: black"><li nz-menu-item>Sign Out</li></a>
            </ul>
          </li></div
        >
      </div>

      <a *ngIf="!loggedIn" (click)="navigate('login')" class="signIn" style="padding-left: 55vh">
        <li nz-menu-item>Sign In</li>
      </a>
    </ul>
  </nz-header>
</nz-layout>
