.logo {
  width: 120px;
  height: 31px;
  margin: 16px 30px 16px 0;
  float: left;
  background-image: url('src/assets/eDonor.png');
}

.main-layout {
  background-color: #de2626;
}

nz-header{
  background-color: #de2626;
}

.header-menu {
  background-color: #de2626;
  line-height: 64px;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu li a{
  color: white;
}

.header-menu li:hover {
  background-color: white;
  color: #de2626;
}

.header-menu li{
  color: white;
}

nz-layout {
  /*position: fixed;*/
  width: 100%;
}

.signIn{
  margin-left: auto;
}
