nz-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.layout{
  min-height: 88vh;
  background: #fff;
}

nz-sider {
  height: 100%;
  position: relative;
}

h3{
  color:black;
}

.login-form{
  width: 50%;
  margin:auto;
}

.form-item{
  padding-right: 40px;
}
