<navbar-layout-basic></navbar-layout-basic>
<staff-sidebar>
  <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
    <input
      type="text"
      nz-input
      placeholder="Search Donor"
      name="id"
      [(ngModel)]="id"
      (keyup.enter)="search()"
      (input)="onSearchInputChange()"
    />
  </nz-input-group>
  <ng-template #suffixIconButton>
    <button nz-button nzType="primary" nzSearch (click)="search()"><span nz-icon nzType="search"></span></button>
  </ng-template>

  <nz-spin [nzSpinning]="isLoading">
    <nz-table #basicTable [nzData]="donorResult.length > 0 ? donorResult : donorList">
      <thead>
        <tr>
          <th>Donor IC</th>
          <th>Name</th>
          <th>Blood Type</th>
          <th>Donation Times</th>
          <th>Details</th>
          <th>Change Donor Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of basicTable.data">
          <td>{{ result.userId }}</td>
          <td><a (click)="showInfo(result)">{{ result.fullName }}</a></td>
          <td>{{ result.bloodType }}</td>
          <td>{{ result.donationTimes }}</td>
          <td><a (click)="displayRecord(result.userId)">View Details</a></td>
          <td><a (click)="showUpdate(result)">Update</a></td>
        </tr>
      </tbody>
    </nz-table>
  </nz-spin>

  <nz-modal [(nzVisible)]="isVisible" nzTitle="Donor Information" (nzOnCancel)="handleOk()">
    <ng-container *nzModalContent>
      <nz-list>
        <nz-list-item *ngFor="let item of getFormFields()">
          <span nz-typography style="font-weight: bold">{{ item.label }}</span>
          <span style="text-align: right; width: 300px">{{ item.value }}</span>
        </nz-list-item>
      </nz-list>
    </ng-container>
    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="handleOk()">Close</button>
    </div>
  </nz-modal>

  <nz-modal [(nzVisible)]="isUpdate" nzTitle="Change Donor Type" (nzOnCancel)="cancel()">
    <div *nzModalContent>
      Donor Type:
      <nz-select [(ngModel)]="type">
        <nz-option *ngFor="let item of donorTypes" [nzLabel]="item" [nzValue]="item"></nz-option>
      </nz-select>
    </div>
    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="update()" [nzLoading]="isUpdateLoading">Update</button>
    </div>
  </nz-modal>

  <nz-modal [(nzVisible)]="isShowRecord" nzTitle="Donor's Blood Donation History" (nzOnCancel)="close()" [nzWidth]="'650px'">
    <ng-container *nzModalContent>
      <nz-table #basicTable [nzData]="record">
        <thead>
        <tr>
          <th>Donate Date</th>
          <th>Blood Serial No.</th>
          <th>Amount(ml)</th>
          <th>Hospital</th>
          <th>Remark</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let result of basicTable.data">
          <td>{{ result.donateDate }}</td>
          <td>{{ result.bloodSerialNo }}</td>
          <td>{{ result.amount }}</td>
          <td>{{ result.dHospital }}</td>
          <td>{{ result.recRemark }}</td>
        </tr>
        </tbody>
      </nz-table>
    </ng-container>
    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="close()">Close</button>
    </div>
  </nz-modal>

</staff-sidebar>
