<navbar-layout-basic></navbar-layout-basic>
<staff-sidebar>
  <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
    <input type="text" nz-input placeholder="Search Donor" name="id" [(ngModel)]="id"/>
  </nz-input-group>
  <ng-template #suffixIconButton>
    <button nz-button nzType="primary" nzSearch (click)="search()"><span nz-icon nzType="search"></span></button>
  </ng-template>

  <nz-table [nzData]="donorInfo">
    <thead>
    <tr>
      <th>Donor IC</th>
      <th>Name</th>
      <th>Blood Type</th>
      <th>Donation Times</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let result of donorInfo">
      <td>{{ result.userId }}</td>
      <td>{{ result.fullName }}</td>
      <td>{{ result.bloodType }}</td>
    </tbody>
  </nz-table>
</staff-sidebar>
