<navbar-layout-basic></navbar-layout-basic>
<donor-sidebar>
  <div class="history-header">
    <h3>My Appointment History</h3>
    <h4><a routerLink="../appointment">Book Appointment</a></h4>
  </div>

  <nz-table #sortTable [nzData]="appointmentList" nzTableLayout="fixed" [nzLoading]="loading">
    <thead>
    <tr>
      <th *ngFor="let column of listOfColumn">
        {{ column.title }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of sortTable.data">
      <td>{{ data.appmntDate }}</td>
      <td>{{ data.appmntLocation }}</td>
      <td>{{ data.timeslot }}</td>
      <td><nz-tag [nzColor]="getStatusColor(data.aStatus)">{{ data.aStatus }}</nz-tag></td>
      <td><a nz-button nzType="link" (click)="show(data)">Details</a></td>
    </tr>
    </tbody>
  </nz-table>

  <nz-modal [(nzVisible)]="isVisible" nzTitle="Appointment Details">
    <ng-container *nzModalContent>
      <nz-list>
        <nz-list-item *ngFor="let item of getFormFields()">
          <span nz-typography style="font-weight: bold">{{ item.label }}</span>
          <span style="text-align: left">{{ item.value }}</span>
        </nz-list-item>
      </nz-list>
    </ng-container>
    <ng-container *nzModalFooter>
      <button nz-button nzType="default" (click)="handleCancel()">Close</button>
    </ng-container>
  </nz-modal>
</donor-sidebar>
