<navbar-layout-basic></navbar-layout-basic>
<donor-sidebar>
  <div class="history-header">
    <h3>My Appointment History</h3>
    <h4><a routerLink="../appointment">Book Appointment</a></h4>
  </div>

  <nz-table #sortTable [nzData]="appointmentList" nzTableLayout="fixed" [nzLoading]="loading" [nzPageSize]="5">
    <thead>
    <tr>
      <th *ngFor="let column of listOfColumn">
        {{ column.title }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of sortTable.data">
      <td>{{ data.appmntDate }}</td>
      <td>{{ data.appmntLocation }}</td>
      <td>{{ data.timeslot }}</td>
      <td>{{ data.aStatus }}</td>
    </tr>
    </tbody>
  </nz-table>
</donor-sidebar>
