<navbar-layout-basic></navbar-layout-basic>
<div class="box">
  <h2>Benefits of Blood Donation</h2>

  <div class="benefit">
    <h3>1. Free Medical Benefits</h3>
    <p>For those who didn’t already know, yes, you can actually get free medical
      attention from public hospitals according to how many times you’ve donated your blood.
      This includes free Hepatitis B vaccine and outpatient treatment.</p>

    <p>Hey, remember this. If you’re lucky and persistent enough to donate more than 30 times,
      you can get into first class wards in a public hospital when you’re sick.</p>
  </div>

  <div class="benefit">
    <h3>2. Free Health Check-Ups</h3>
    <p>For those who didn’t already know, yes, you can actually get free medical attention from
      public hospitals according to how many times you’ve donated your blood. This includes free
      Hepatitis B vaccine and outpatient treatment.Before any blood is drawn from your veins,
      you would have to go through some simple physical examination and blood test. They’re not
      thorough tests but they can help identify health concerns like anemia or high/low blood
      pressure.</p>

    <p>The test will check a person’s blood pressure, body temperature, heart rate, and hemoglobin
      or iron levels. If some of these don’t check out, the person is not allowed to donate blood
      and this could be the first step of identification for the person to get further treatment
      for other health concerns. <br>
      There are also strict guidelines before you can donate blood, so some thorough and personal
      questions will be asked by your physician before you can donate.
    </p>
  </div>

  <div class="benefit">
    <h3>3. Reduce Risk of Heart Attack</h3>
    <p>In 2013, a study suggests that donating blood may reduce the risk of a heart attack as
      high body iron stores are believed to increase the risk of heart attacks.</p>

    <p>In 2019, researchers concluded that blood donation offers a “protective effect of long-term
      against cardiovascular disease” after studying the data of nearly 160,000 females who donated
      blood for 10 years.
    </p>
  </div>

  <div class="benefit">
    <h3>4. Help In Weight Loss</h3>
    <p>Regular blood donation can reduce the weight of blood donor by burning calories
      but this is only short term.</p>

    <p>However, this is helpful for those who are obese and are at a higher risk of cardiovascular
      disease or other health disorders. It can also identify people with low weight and they may
      benefit from counselling.
    </p>
  </div>

</div>

<nz-footer>eDonor - Empowering blood donation for a healthier world.</nz-footer>
