<navbar-layout-basic></navbar-layout-basic>
<staff-sidebar>
  <nz-descriptions nzTitle="My Account" nzBordered [nzColumn]="1" [nzSize]="'middle'">
    <nz-descriptions-item nzTitle="Full Name">{{ staff?.fullName }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Gender">{{ staff?.gender }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Email Address">{{ staff?.email }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Staff ID">{{ staff?.staffId }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Position">{{ staff?.staffPosition }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Department Area">{{ staff?.deptArea }}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Department Name">{{ staff?.deptName }}</nz-descriptions-item>
  </nz-descriptions>
</staff-sidebar>
