<navbar-layout-basic></navbar-layout-basic>
<app-admin-sider-component>
  <h3>Staff List</h3>
  <button style="margin-bottom: 12px" nz-button nzType="default" type="button" (click)="showModal()">Add Staff</button>

  <nz-table #basicTable [nzData]="staff" [nzLoading]="loading" [nzPageSize]="10">
    <thead>
      <tr>
        <th>Name</th>
        <th>Staff ID</th>
        <th>Position</th>
        <th>Department</th>
        <th>Area</th>
        <th>Last Login Time</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.fullName }}</td>
        <td>{{ data.staffId }}</td>
        <td>{{ data.staffPosition }}</td>
        <td>{{ data.deptName }}</td>
        <td>{{ data.deptArea }}</td>
        <td>{{ formatTimestamp(data?.userLastLoginDate) }}</td>
        <td>
          <div class="action-btn">
            <button nz-button nzType="link" nzSize="small" (click)="edit(data)">
              <span nz-icon nzType="edit" nzTheme="twotone"></span>
            </button>

            <a
              nz-popconfirm
              nzPopconfirmTitle="Are you sure to delete this staff?"
              nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="delete(data.donorId)"
            >
              <span nz-icon nzType="delete" nzTheme="twotone"></span>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <nz-modal [(nzVisible)]="isVisible" nzTitle="Donor Information" (nzOnCancel)="handleCancel()">
    <div *nzModalContent>
      <form nz-form [formGroup]="addNewForm" class="form">
        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzFor="fullName" [nzRequired]="true" [nzLabelAlign]="'left'">Full Name</nz-form-label>
          <nz-form-control [nzSpan]="16" [nzErrorTip]="confirmErrorTip">
            <input nz-input formControlName="fullName" />
          </nz-form-control>
        </nz-form-item>

        <!--        <nz-form-item>-->
        <!--          <nz-form-label [nzSpan]="5" nzFor="userId" [nzRequired]="true" [nzLabelAlign]="'left'">IC No.</nz-form-label>-->
        <!--          <nz-form-control [nzSpan]="12" [nzErrorTip]="confirmErrorTip">-->
        <!--            <input nz-input formControlName="userId"/>-->
        <!--          </nz-form-control>-->
        <!--        </nz-form-item>-->

        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzFor="password" [nzRequired]="true" [nzLabelAlign]="'left'">Password</nz-form-label>
          <nz-form-control [nzSpan]="12" [nzErrorTip]="confirmErrorTip">
            <nz-input-group [nzSuffix]="suffixTemplate">
              <input [type]="passwordVisible ? 'text' : 'password'" nz-input type="password" formControlName="password" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzFor="gender" [nzRequired]="true" [nzLabelAlign]="'left'">Gender</nz-form-label>
          <nz-form-control [nzSpan]="8" [nzErrorTip]="confirmErrorTip">
            <nz-select formControlName="gender">
              <nz-option nzValue="male" nzLabel="Male"></nz-option>
              <nz-option nzValue="female" nzLabel="Female"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzFor="email" [nzRequired]="true" [nzLabelAlign]="'left'">Email</nz-form-label>
          <nz-form-control [nzSpan]="12" [nzErrorTip]="confirmErrorTip">
            <input nz-input formControlName="email" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzFor="staffPosition" [nzRequired]="true" [nzLabelAlign]="'left'">Staff Position</nz-form-label>
          <nz-form-control [nzSpan]="12" [nzErrorTip]="confirmErrorTip">
            <input nz-input formControlName="staffPosition" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzFor="deptName" [nzRequired]="true" [nzLabelAlign]="'left'">Department Name</nz-form-label>
          <nz-form-control [nzSpan]="12" [nzErrorTip]="confirmErrorTip">
            <input nz-input formControlName="deptName" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="5" nzFor="deptArea" [nzRequired]="true" [nzLabelAlign]="'left'">Department Area</nz-form-label>
          <nz-form-control [nzSpan]="12" [nzErrorTip]="confirmErrorTip">
            <input nz-input formControlName="deptArea" />
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>

    <div *nzModalFooter>
      <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
      <button *ngIf="!isEdit" nz-button nzType="primary" type="submit" (click)="handleOk()" [nzLoading]="isConfirmLoading">Add</button>
      <button *ngIf="isEdit" nz-button nzType="primary" type="submit" (click)="handleOk()" [nzLoading]="isUpdateLoading"> Update </button>
    </div>
  </nz-modal>

  <ng-template #confirmErrorTip let-i>
    <ng-container *ngIf="i.errors?.required">This fill is required</ng-container>
    <ng-container *ngIf="i.getError('minlength')">Min Length is 8 characters</ng-container>
    <ng-container *ngIf="i.getError('email')">Wrong Email Format</ng-container>
  </ng-template>

  <ng-template #suffixTemplate>
    <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></span>
  </ng-template>
</app-admin-sider-component>
