<navbar-layout-basic></navbar-layout-basic>
<donor-sidebar>
  <h1>Welcome Back, {{userName}}</h1>
  <h2>Dashboard</h2><br/>

  <div class="dash">
    <nz-spin [nzSpinning]="loading">
      <div>
        <nz-row [nzGutter]="16">
          <nz-col [nzSpan]="12">
            <nz-statistic [nzValue]="bloodGroup" [nzTitle]="'Current Blood Group Needed'"></nz-statistic>
          </nz-col>
          <nz-col [nzSpan]="12">
            <nz-statistic [nzValue]="donation" [nzTitle]="'Your Donation Times'"></nz-statistic>
          </nz-col>
        </nz-row>
      </div>

      <div style="margin-top:32px">
        <h3>Recent Appointment</h3>
        <div *ngIf="!noApp">
          <nz-card style="width:400px;" [nzTitle]="list?.appmntLocation">
            <p>Date: <b>{{ translateDate(list?.appmntDate)}}</b></p>
            <p>Time Slot: <b>{{ list?.timeslot }}</b></p>
            <p>Status: <b>{{ list?.aStatus }}</b></p>
          </nz-card>
        </div>

        <div *ngIf="noApp">
          <p>No recent data</p>
        </div>

      </div>
    </nz-spin>
  </div>
</donor-sidebar>

