.dash{
  background: #ECECEC;
  padding: 24px;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-item {
    line-height: 80px;
  }
}
