<div class="login">
  <h2>Password Recovery</h2>
  <form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
    <nz-form-item>
      <p>
        An email will be sent to your email address to reset your password.</p>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter your IC No.">
        <nz-input-group nzSize="large" nzPrefixIcon="user">
          <input nz-input formControlName="username" placeholder="IC No.(without '-')"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please enter your email">
        <nz-input-group nzSize="large" nzPrefixIcon="mail">
          <input nz-input formControlName="email" placeholder="Email"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <button class="sbmt" nz-button type="submit" nzType="primary" nzSize="large" nzBlock [nzLoading]="load">
        Send Email
      </button>
    </nz-form-item>
  </form>
</div>
